<form>
    <table class="table" cellspacing="0">
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Name</mat-label>
                    <input matInput name="orgName" [(ngModel)]="Name">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Cultural Period</mat-label>
                    <input matInput name="orgCulturalPeriod" [(ngModel)]="CulturalPeriod">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Identifier</mat-label>
                    <input matInput name="orgIdentifier" [(ngModel)]="Identifier">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td>
                <mat-form-field class="short-width">
                    <mat-label i18n>Build Date (From)</mat-label>
                    <input matInput type="date" name="orgBuildDateFrom" [(ngModel)]="BuildDateFrom">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="short-width">
                    <mat-label i18n>Build Date (To)</mat-label>
                    <input matInput type="date" name="orgBuildDateTo" [(ngModel)]="BuildDateTo">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Location</mat-label>
                    <input matInput name="orgLocation" [(ngModel)]="Location">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Latitude</mat-label>
                    <input matInput name="orgLatitude" [(ngModel)]="Latitude">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Longitude</mat-label>
                    <input matInput name="orgLongitude" [(ngModel)]="Longitude">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Keywords</mat-label>
                    <input matInput name="orgKeywords" [(ngModel)]="Keywords">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Related To</mat-label>
                    <input matInput name="orgRelatedTo" [(ngModel)]="RelatedTo">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>

    </table>
</form>
