<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>DigitArq+</span>
    <span class="example-spacer"></span>
    <button routerLink="/advanced_search" mat-icon-button class="example-icon favorite-icon"
            aria-label="Example icon-button with heart icon">
        <mat-icon>search</mat-icon>
    </button>

</mat-toolbar>
