<div class="doc-content">
    <form [formGroup]="docForm">
        <div class="hasButtons">
            <button class="search" mat-raised-button (click)="setExpanded(true)" color="primary">
                Expand All
            </button>
            <button class="search" mat-raised-button (click)="setExpanded(false)" color="primary">
                Collapse All
            </button>
        </div>
        <mat-accordion class="example-headers-align" multi>
            <div formGroupName="DOC_IDENTITY">
                <!--            Title-->
                <mat-expansion-panel class="panel" formGroupName="titles" *ngIf=" getArrayName('titles').length !== 0"
                                     [expanded]="isExpanded">
                    <mat-expansion-panel-header>
                        <mat-panel-title i18n>Titles</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="fields" *ngFor="let titles of getArrayName('titles').controls; let i=index">
                        <div [formGroupName]="i">
                            <mat-form-field>
                                <mat-label i18n>Title</mat-label>
                                <input matInput readonly placeholder="title" formControlName="title">
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Title type</mat-label>
                                <mat-select formControlName="type"> <!-- [disabled]="disableSelect.value">-->
                                    <mat-option
                                            [value]="titles.value.type">{{  getViewValueFromObject(titles.value.type, myTitleTypes)}}</mat-option>
                                </mat-select>

                            </mat-form-field>

                        </div>
                    </div>


                </mat-expansion-panel>
                <!--
                Identifiers
                -->
                <mat-expansion-panel class="panel" formGroupName="identifiers"
                                     *ngIf=" getArrayName('identifiers').length !== 0" [expanded]="isExpanded">
                    <mat-expansion-panel-header>
                        <mat-panel-title i18n>Identifiers</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="fields" *ngFor="let identifiers of getArrayName('identifiers').controls; let i=index">
                        <div [formGroupName]="i">
                            <mat-form-field>
                                <mat-label i18n>Identifier</mat-label>
                                <input matInput readonly placeholder="identifier" formControlName="identifier">
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label i18n>Identifier type</mat-label>
                                <mat-select formControlName="type"> <!--[disabled]="true">-->
                                    <mat-option
                                            [value]="identifiers.value.type">{{  getViewValueFromObject(identifiers.value.type, myIdentifierTypes)}}</mat-option>
                                </mat-select>

                            </mat-form-field>

                        </div>
                    </div>


                </mat-expansion-panel>
                <!--
Description Level
-->
                <mat-expansion-panel class="panel" formGroupName="descriptionLevel"
                                     *ngIf=" getArrayName('descriptionLevel').length !== 0" [expanded]="isExpanded">
                    <mat-expansion-panel-header>
                        <mat-panel-title i18n>Description Level</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="fields"
                         *ngFor="let identifier of getArrayName('descriptionLevel').controls; let i=index">
                        <div [formGroupName]="i">
                            <mat-form-field>
                                <mat-label i18n>Description Level</mat-label>
                                <input matInput readonly placeholder="descriptionLevel"
                                       formControlName="descriptionLevel">
                            </mat-form-field>
                        </div>
                    </div>

                </mat-expansion-panel>

                <!--
                Materials
                -->
                <mat-expansion-panel class="panel" formGroupName="materials"
                                     *ngIf=" getArrayName('materials').length !== 0" [expanded]="isExpanded">
                    <mat-expansion-panel-header>
                        <mat-panel-title i18n>Materials</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="fields" *ngFor="let material of getArrayName('materials').controls; let i=index">
                        <div [formGroupName]="i">
                            <mat-form-field>
                                <mat-label i18n>Material</mat-label>
                                <input matInput readonly placeholder="material" formControlName="material">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label i18n>Component</mat-label>
                                <input matInput readonly placeholder="component" formControlName="component">
                            </mat-form-field>


                        </div>
                    </div>


                </mat-expansion-panel>

                <!--
                Dimensions
                -->
                <mat-expansion-panel class="panel" formGroupName="dimensions"
                                     *ngIf=" getArrayName('dimensions').length !== 0" [expanded]="isExpanded">
                    <mat-expansion-panel-header>
                        <mat-panel-title i18n>Dimensions</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="fields" *ngFor="let dimension of getArrayName('dimensions').controls; let i=index">
                        <div [formGroupName]="i">
                            <mat-form-field>
                                <mat-label i18n>Dimension</mat-label>
                                <input matInput readonly placeholder="dimension" formControlName="dimension">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label i18n>Value</mat-label>
                                <input matInput readonly placeholder="value" formControlName="value">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label i18n>Measurement Unit</mat-label>
                                <input matInput readonly placeholder="measurementUnit"
                                       formControlName="measurementUnit">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label i18n>Component</mat-label>
                                <input matInput readonly placeholder="component" formControlName="component">
                            </mat-form-field>


                        </div>
                    </div>


                </mat-expansion-panel>

                <!--
                Quantities
                -->
                <mat-expansion-panel class="panel" formGroupName="quantities"
                                     *ngIf=" getArrayName('quantities').length !== 0" [expanded]="isExpanded">
                    <mat-expansion-panel-header>
                        <mat-panel-title i18n>Quantities</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="fields" *ngFor="let quantity of getArrayName('quantities').controls; let i=index">
                        <div [formGroupName]="i">
                            <mat-form-field>
                                <mat-label i18n>Dimension</mat-label>
                                <input matInput readonly placeholder="dimension" formControlName="dimension">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label i18n>Value</mat-label>
                                <input matInput readonly placeholder="value" formControlName="value">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label i18n>Measurement Unit</mat-label>
                                <input matInput readonly placeholder="measurementUnit"
                                       formControlName="measurementUnit">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label i18n>Component</mat-label>
                                <input matInput readonly placeholder="component" formControlName="component">
                            </mat-form-field>


                        </div>
                    </div>


                </mat-expansion-panel>
            </div>

            <div formGroupName="DOC_CONTEXT">
                <!--
                Subjects
                -->
                <mat-expansion-panel class="panel" formGroupName="subjects"
                                     *ngIf=" getArrayName('subjects').length !== 0" [expanded]="isExpanded">
                    <mat-expansion-panel-header>
                        <mat-panel-title i18n>Subjects</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="fields" *ngFor="let subject of getArrayName('subjects').controls; let i=index">
                        <div [formGroupName]="i">
                            <mat-form-field>
                                <mat-label i18n>Subject</mat-label>
                                <input matInput readonly placeholder="subject" formControlName="subject">
                            </mat-form-field>


                        </div>
                    </div>


                </mat-expansion-panel>

                <!--
                writings
                -->
                <mat-expansion-panel class="panel" formGroupName="writings"
                                     *ngIf=" getArrayName('writings').length !== 0" [expanded]="isExpanded">
                    <mat-expansion-panel-header>
                        <mat-panel-title i18n>Writings</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="fields" *ngFor="let writing of getArrayName('writings').controls; let i=index">
                        <div [formGroupName]="i">
                            <mat-form-field>
                                <mat-label i18n>Writing</mat-label>
                                <input matInput readonly placeholder="writing" formControlName="writing">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label i18n>Identifier</mat-label>
                                <input matInput readonly placeholder="identifier" formControlName="identifier">
                            </mat-form-field>


                        </div>
                    </div>


                </mat-expansion-panel>
                <!--
                conservationStates
                -->
                <mat-expansion-panel class="panel" formGroupName="conservationStates"
                                     *ngIf=" getArrayName('conservationStates').length !== 0" [expanded]="isExpanded">
                    <mat-expansion-panel-header>
                        <mat-panel-title i18n>Conservation States</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="fields"
                         *ngFor="let conservationStatus of getArrayName('conservationStates').controls; let i=index">
                        <div [formGroupName]="i">
                            <mat-form-field>
                                <mat-label i18n>Conservation Status</mat-label>
                                <input matInput readonly placeholder="conservation status"
                                       formControlName="conservationStatus">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label i18n>Initial Date</mat-label>
                                <input matInput readonly type="date" formControlName="initialDate">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label i18n>Final Date</mat-label>
                                <input matInput readonly type="date" formControlName="finalDate">
                            </mat-form-field>


                        </div>
                    </div>


                </mat-expansion-panel>
                <!--
                Documentary Traditions
                -->
                <mat-expansion-panel class="panel" formGroupName="documentaryTraditions"
                                     *ngIf=" getArrayName('documentaryTraditions').length !== 0"
                                     [expanded]="isExpanded">
                    <mat-expansion-panel-header>
                        <mat-panel-title i18n>Documentary Traditions</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="fields"
                         *ngFor="let documentaryTradition of getArrayName('documentaryTraditions').controls; let i=index">
                        <div [formGroupName]="i">
                            <mat-form-field>
                                <mat-label i18n>Documentary Tradition</mat-label>
                                <input matInput readonly placeholder="documentaryTradition"
                                       formControlName="documentaryTradition">
                            </mat-form-field>


                        </div>
                    </div>


                </mat-expansion-panel>


                <!--
                Typologies
                -->
                <mat-expansion-panel class="panel" formGroupName="typologies"
                                     *ngIf=" getArrayName('typologies').length !== 0" [expanded]="isExpanded">
                    <mat-expansion-panel-header>
                        <mat-panel-title i18n>Typologies</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="fields" *ngFor="let typology of getArrayName('typologies').controls; let i=index">
                        <div [formGroupName]="i">
                            <mat-form-field>
                                <mat-label i18n>Documentary Typology</mat-label>
                                <input matInput readonly placeholder="documentaryTypology"
                                       formControlName="documentaryTypology">
                            </mat-form-field>


                        </div>
                    </div>


                </mat-expansion-panel>
            </div>

            <div formGroupName="DOC_ACCESS_USE_CONDITIONS">
                <!--
                languages
                -->
                <mat-expansion-panel class="panel" formGroupName="languages"
                                     *ngIf=" getArrayName('languages').length !== 0" [expanded]="isExpanded">
                    <mat-expansion-panel-header>
                        <mat-panel-title i18n>Languages</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="fields" *ngFor="let language of getArrayName('languages').controls; let i=index">
                        <div [formGroupName]="i">
                            <mat-form-field>
                                <mat-label i18n>Language</mat-label>
                                <input matInput readonly placeholder="language" formControlName="language">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label i18n>Identifier</mat-label>
                                <input matInput readonly placeholder="identifier" formControlName="identifier">
                            </mat-form-field>


                        </div>
                    </div>


                </mat-expansion-panel>
                <!--
                accessConditions
                -->
                <mat-expansion-panel class="panel" formGroupName="accessConditions"
                                     *ngIf=" getArrayName('accessConditions').length !== 0" [expanded]="isExpanded">
                    <mat-expansion-panel-header>
                        <mat-panel-title i18n>Access Conditions</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="fields"
                         *ngFor="let accessCondition of getArrayName('accessConditions').controls; let i=index">
                        <div [formGroupName]="i">
                            <mat-form-field>
                                <mat-label i18n>Access Condition</mat-label>
                                <input matInput readonly placeholder="access condition"
                                       formControlName="accessCondition">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label i18n>Justification</mat-label>
                                <input matInput readonly placeholder="justification" formControlName="justification">
                            </mat-form-field>


                        </div>
                    </div>

                </mat-expansion-panel>
            </div>
            <div formGroupName="DOC_LINKED_DATA">
                <!--
                related Docs
                -->
                <mat-expansion-panel class="panel" formGroupName="relatedDocs"
                                     *ngIf=" getArrayName('relatedDocs').length !== 0" [expanded]="isExpanded">
                    <mat-expansion-panel-header>
                        <mat-panel-title i18n>Related Docs</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="fields"
                         *ngFor="let accessCondition of getArrayName('relatedDocs').controls; let i=index">
                        <div [formGroupName]="i">
                            <mat-form-field>
                                <mat-label i18n>Access Condition</mat-label>
                                <input matInput readonly placeholder="access condition"
                                       formControlName="recordIdentifier">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label i18n>Title</mat-label>
                                <input matInput readonly placeholder="title" formControlName="title">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label i18n>Relation Type</mat-label>
                                <input matInput readonly placeholder="relation type" formControlName="relationType">
                            </mat-form-field>
                        </div>
                    </div>
                    <!--                    <mat-expansion-panel class="panel" *ngIf="getArrayName('relatedDocs').length !== 0" [expanded]="isExpanded">-->
                    <!--                        <mat-expansion-panel-header>-->
                    <!--                            <mat-panel-title i18n>Hierarchy</mat-panel-title>-->
                    <!--                        </mat-expansion-panel-header>-->
                    <!--                        <div *ngIf="haveResults">-->
                    <!--                            <app-table [columns]="columns" [data]="dataSource" [hrefTo]="'doc'"></app-table>-->
                    <!--                        </div>-->
                    <!--                    </mat-expansion-panel>-->


                </mat-expansion-panel>

            </div>

        </mat-accordion>


        <div class="hasButtons" *ngIf="!pageCreateDoc">
            <button class="search" mat-raised-button (click)="goToHome()" color="primary">
                Go To Home
            </button>
            <button class="search mat-success" [disabled]="loading" mat-raised-button (click)="editDoc()"
                    color="primary">
                Edit
            </button>
        </div>

    </form>

<!--    {{this.docForm.value | json}}-->
</div>


<!--        <mat-expansion-panel class="panel" *ngIf="relatedDocs.length !== 0" [expanded]="isExpanded">-->
<!--            <mat-expansion-panel-header>-->
<!--                <mat-panel-title i18n>Hierarchy</mat-panel-title>-->
<!--            </mat-expansion-panel-header>-->
<!--            <div *ngIf="haveResults">-->
<!--                <app-table [columns]="columns" [data]="dataSource" [hrefTo]="'doc'"></app-table>-->
<!--            </div>-->
<!--        </mat-expansion-panel>-->

<!--        <mat-expansion-panel class="panel" *ngIf="relatedEvents.length !== 0">-->
<!--            <mat-expansion-panel-header>-->
<!--                <mat-panel-title i18n>Related Events</mat-panel-title>-->
<!--            </mat-expansion-panel-header>-->
<!--            <div *ngIf="haveResults">-->
<!--                <app-table [columns]="columns" [data]="dataSource" [hrefTo]="'event'"></app-table>-->
<!--            </div>-->
<!--        </mat-expansion-panel>-->

