<div class="doc-content">
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel class="panel" *ngIf="identifiers.length !== 0" [expanded]="isExpanded">
            <mat-expansion-panel-header>
                <mat-panel-title i18n>Identifiers</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="fields" *ngFor="let identifier of identifiers">
                <mat-form-field>
                    <mat-label i18n>Identifier</mat-label>
                    <input matInput readonly [(ngModel)]="identifier.identifier">
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Type</mat-label>
                    <input matInput readonly [(ngModel)]="identifier.type">
                </mat-form-field>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel" *ngIf="titles.length !== 0" [expanded]="isExpanded">
            <mat-expansion-panel-header>
                <mat-panel-title i18n>Titles</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="fields" *ngFor="let title of titles">
                <mat-form-field>
                    <mat-label i18n>Title</mat-label>
                    <input matInput readonly [(ngModel)]="title.title">
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Type</mat-label>
                    <input matInput readonly [(ngModel)]="title.type">
                </mat-form-field>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel" *ngIf="materials.length !== 0" [expanded]="isExpanded">
            <mat-expansion-panel-header>
                <mat-panel-title i18n>Materials</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="fields" *ngFor="let material of materials">
                <mat-form-field>
                    <mat-label i18n>Material</mat-label>
                    <input matInput readonly [(ngModel)]="material.material">
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Component</mat-label>
                    <input matInput readonly [(ngModel)]="material.component">
                </mat-form-field>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel" *ngIf="dimensions.length !== 0" [expanded]="isExpanded">
            <mat-expansion-panel-header>
                <mat-panel-title i18n>Dimensions</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="fields" *ngFor="let dimension of dimensions">
                <mat-form-field>
                    <mat-label i18n>Dimension</mat-label>
                    <input matInput readonly [(ngModel)]="dimension.dimension">
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Value</mat-label>
                    <input matInput readonly [(ngModel)]="dimension.value">
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Measurement unit</mat-label>
                    <input matInput readonly [(ngModel)]="dimension.measurementUnit">
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Component</mat-label>
                    <input matInput readonly [(ngModel)]="dimension.component">
                </mat-form-field>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel" *ngIf="quantities.length !== 0" [expanded]="isExpanded">
            <mat-expansion-panel-header>
                <mat-panel-title i18n>Quantities</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="fields" *ngFor="let quantity of quantities">
                <mat-form-field>
                    <mat-label i18n>Quantity</mat-label>
                    <input matInput readonly [(ngModel)]="quantity.quantity">
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Value</mat-label>
                    <input matInput readonly [(ngModel)]="quantity.value">
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Measurement unit</mat-label>
                    <input matInput readonly [(ngModel)]="quantity.measurementUnit">
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Component</mat-label>
                    <input matInput readonly [(ngModel)]="quantity.component">
                </mat-form-field>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel" *ngIf="conservationStates.length !== 0" [expanded]="isExpanded">
            <mat-expansion-panel-header>
                <mat-panel-title i18n>Conservation status</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="fields" *ngFor="let conser of conservationStates">
                <mat-form-field>
                    <mat-label i18n>conservation status</mat-label>
                    <input matInput readonly [(ngModel)]="conser.conservationStatus">
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Initial date</mat-label>
                    <input matInput type="date" readonly [(ngModel)]="conser.initialDate">
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Final date</mat-label>
                    <input matInput type="date" readonly [(ngModel)]="conser.finalDate">
                </mat-form-field>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel" *ngIf="languages.length !== 0" [expanded]="isExpanded">
            <mat-expansion-panel-header>
                <mat-panel-title i18n>Languages</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="fields" *ngFor="let language of languages">
                <mat-form-field>
                    <mat-label i18n>Language</mat-label>
                    <input matInput readonly [(ngModel)]="language.language">
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Identifier</mat-label>
                    <input matInput readonly [(ngModel)]="language.identifier">
                </mat-form-field>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel" *ngIf="writings.length !== 0" [expanded]="isExpanded">
            <mat-expansion-panel-header>
                <mat-panel-title i18n>Writings</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="fields" *ngFor="let writing of writings">
                <mat-form-field>
                    <mat-label i18n>Writing</mat-label>
                    <input matInput readonly [(ngModel)]="writing.writing">
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Identifier</mat-label>
                    <input matInput readonly [(ngModel)]="writing.identifier">
                </mat-form-field>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel" *ngIf="documentaryTraditions.length !== 0" [expanded]="isExpanded">
            <mat-expansion-panel-header>
                <mat-panel-title i18n>Documentary traditions</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="fields" *ngFor="let tradition of documentaryTraditions">
                <mat-form-field>
                    <mat-label i18n>Documentary tradition</mat-label>
                    <input matInput readonly [(ngModel)]="tradition.documentaryTradition">
                </mat-form-field>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel" *ngIf="typologies.length !== 0" [expanded]="isExpanded">
            <mat-expansion-panel-header>
                <mat-panel-title i18n>Typologies</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="fields" *ngFor="let typology of typologies">
                <mat-form-field>
                    <mat-label i18n>Documentary typology</mat-label>
                    <input matInput readonly [(ngModel)]="typology.documentaryTypology">
                </mat-form-field>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel" *ngIf="subjects.length !== 0" [expanded]="isExpanded">
            <mat-expansion-panel-header>
                <mat-panel-title i18n>Subjects</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="fields" *ngFor="let subject of subjects">
                <mat-form-field>
                    <mat-label i18n>Subjects</mat-label>
                    <input matInput readonly [(ngModel)]="subject.subject">
                </mat-form-field>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel" *ngIf="accessConditions.length !== 0" [expanded]="isExpanded">
            <mat-expansion-panel-header>
                <mat-panel-title i18n>Access conditions</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="fields" *ngFor="let condition of accessConditions">
                <mat-form-field>
                    <mat-label i18n>Access conditions</mat-label>
                    <input matInput readonly [(ngModel)]="condition.accessConditions">
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Justification</mat-label>
                    <input matInput readonly [(ngModel)]="condition.justification">
                </mat-form-field>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel" *ngIf="relatedDocs.length !== 0" [expanded]="isExpanded">
            <mat-expansion-panel-header>
                <mat-panel-title i18n>Hierarchy</mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngIf="haveResults">
                <app-table [columns]="columns" [data]="dataSource" [hrefTo]="'doc'"></app-table>
            </div>
        </mat-expansion-panel>

        <!--        <mat-expansion-panel class="panel" *ngIf="relatedEvents.length !== 0">-->
        <!--            <mat-expansion-panel-header>-->
        <!--                <mat-panel-title i18n>Related Events</mat-panel-title>-->
        <!--            </mat-expansion-panel-header>-->
        <!--            <div *ngIf="haveResults">-->
        <!--                <app-table [columns]="columns" [data]="dataSource" [hrefTo]="'event'"></app-table>-->
        <!--            </div>-->
        <!--        </mat-expansion-panel>-->
    </mat-accordion>
    <div class="hasButtons">
        <button class="search" mat-raised-button (click)="setExpanded(true)" color="primary">
            Expand All
        </button>
        <button class="search" mat-raised-button (click)="setExpanded(false)" color="primary">
            Collapse All
        </button>
    </div>
</div>
