<h1 class="tabtitle">Advanced Search</h1>
<mat-divider></mat-divider>
<mat-tab-group animationDuration="0ms">
    <mat-tab label="Document">
        <form>
            <h4>Description Record</h4>
            <table class="table" cellspacing="0">
                <tr class="elements-colspan">
                    <td colspan="2">
                        <mat-form-field class="short-width">
                            <mat-label i18n>Description Level</mat-label>
                            <input matInput name="docDescriptionLevel" [(ngModel)]="docDescriptionLevel">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr class="elements-colspan">

                    <td colspan="2">
                        <mat-form-field class="short-width">
                            <mat-label i18n>Reference Code</mat-label>
                            <input matInput name="docReferenceCode" [(ngModel)]="docReferenceCode">
                        </mat-form-field>
                    </td>

                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="short-width">
                            <mat-label i18n>Production Dates (From)</mat-label>
                            <input matInput type="date" name="docProdDateFrom" [(ngModel)]="docProdDateFrom">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="short-width">
                            <mat-label i18n>Production Dates (To)</mat-label>
                            <input matInput type="date" name="docProdDateTo" [(ngModel)]="docProdDateTo">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr class="elements-colspan">
                    <td colspan="2">
                        <mat-form-field class="short-width">
                            <mat-label i18n>Keywords</mat-label>
                            <input matInput name="docKeywords" [(ngModel)]="docKeywords">
                        </mat-form-field>
                    </td>

                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr class="elements-colspan">

                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Related To</mat-label>
                            <input matInput name="docRelatedTo" [(ngModel)]="docRelatedTo">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
            </table>
            <mat-divider></mat-divider>

            <h4>Conservation & Restoration Record</h4>
            <table class="table" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="short-width">
                            <mat-label i18n>Intervention Start Date (From)</mat-label>
                            <input matInput type="date" name="docInterventionStartDateFrom"
                                   [(ngModel)]="docInterventionStartDateFrom">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="short-width">
                            <mat-label i18n>Intervention Start Date (To)</mat-label>
                            <input matInput type="date" name="docInterventionStartDateTo"
                                   [(ngModel)]="docInterventionStartDateTo">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="short-width">
                            <mat-label i18n>Intervention End Date (From)</mat-label>
                            <input matInput type="date" name="docInterventionEndDateFrom"
                                   [(ngModel)]="docInterventionEndDateFrom">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="short-width">
                            <mat-label i18n>Intervention End Date (To)</mat-label>
                            <input matInput type="date" name="docInterventionEndDateTo"
                                   [(ngModel)]="docInterventionEndDateTo">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr class="elements-colspan">

                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Curator's Name</mat-label>
                            <input matInput name="docCuratorName" [(ngModel)]="docCuratorName">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
            </table>

            <mat-divider></mat-divider>

            <h4>Digital Representation Record</h4>
            <table class="table" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="short-width">
                            <mat-label i18n>Creation Date (From)</mat-label>
                            <input matInput type="date" name="docCreationDateFrom"
                                   [(ngModel)]="docCreationDateFrom">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="short-width">
                            <mat-label i18n>Intervention Start Date (To)</mat-label>
                            <input matInput type="date" name="docCreationDateTo"
                                   [(ngModel)]="docCreationDateTo">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr class="elements-colspan">

                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Curator's Name</mat-label>
                            <input matInput name="docCuratorName" [(ngModel)]="docCuratorName">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
            </table>
        </form>
    </mat-tab>
    <mat-tab label="Actor">
        <form>
            <table class="table" cellspacing="0">
                <tr class="elements-colspan">
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Name</mat-label>
                            <input matInput name="actorName" [(ngModel)]="actorName">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Cultural Period</mat-label>
                            <input matInput name="actorCulturalPeriod" [(ngModel)]="actorCulturalPeriod">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Identifier</mat-label>
                            <input matInput name="actorIdentifier" [(ngModel)]="actorIdentifier">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="short-width">
                            <mat-label i18n>Birth Date (From)</mat-label>
                            <input matInput type="date" name="actorBirthDateFrom" [(ngModel)]="actorBirthDateFrom">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="short-width">
                            <mat-label i18n>Birth Date (To)</mat-label>
                            <input matInput type="date" name="actorBirthDateTo" [(ngModel)]="actorBirthDateTo">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="short-width">
                            <mat-label i18n>Death Date (From)</mat-label>
                            <input matInput type="date" name="actorDeathDateFrom" [(ngModel)]="actorDeathDateFrom">
                        </mat-form-field>
                    </td>
                    <td class="short-width">
                        <mat-form-field class="short-width">
                            <mat-label i18n>Death Date (To)</mat-label>
                            <input matInput type="date" name="actorDeathDateTo" [(ngModel)]="actorDeathDateTo">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Keywords</mat-label>
                            <input matInput name="actorKeywords" [(ngModel)]="actorKeywords">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Related To</mat-label>
                            <input matInput name="actorRelatedTo" [(ngModel)]="actorRelatedTo">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
            </table>
        </form>
    </mat-tab>
    <mat-tab label="Event">
        <form>
            <table class="table" cellspacing="0">
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Name</mat-label>
                            <input matInput name="eventName" [(ngModel)]="eventName">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Identifier</mat-label>
                            <input matInput name="eventIdentifier" [(ngModel)]="eventIdentifier">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="short-width">
                            <mat-label i18n>Start Date (From)</mat-label>
                            <input matInput type="date" name="eventStartDateFrom" [(ngModel)]="eventStartDateFrom">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="short-width">
                            <mat-label i18n>Start Date (To)</mat-label>
                            <input matInput type="date" name="eventStartDateTo" [(ngModel)]="eventStartDateTo">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="short-width">
                            <mat-label i18n>End Date (From)</mat-label>
                            <input matInput type="date" name="eventEndDateFrom" [(ngModel)]="eventEndDateFrom">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="short-width">
                            <mat-label i18n>End Date (To)</mat-label>
                            <input matInput type="date" name="eventEndDateTo" [(ngModel)]="eventEndDateTo">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Cultural Period</mat-label>
                            <input matInput name="eventCulturalPeriod" [(ngModel)]="eventCulturalPeriod">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Event Type</mat-label>
                            <input matInput name="eventType" [(ngModel)]="eventType">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Location</mat-label>
                            <input matInput name="eventLocation" [(ngModel)]="eventLocation">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Address</mat-label>
                            <input matInput name="eventAddress" [(ngModel)]="eventAddress">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Latitude</mat-label>
                            <input matInput name="eventLatitude" [(ngModel)]="eventLatitude">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Longitude</mat-label>
                            <input matInput name="eventLongitude" [(ngModel)]="eventLongitude">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Keywords</mat-label>
                            <input matInput name="eventKeywords" [(ngModel)]="eventKeywords">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Related To</mat-label>
                            <input matInput name="eventRelatedTo" [(ngModel)]="eventRelatedTo">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>

            </table>
        </form>
    </mat-tab>
    <mat-tab label="Place">
        <form>
            <table class="table" cellspacing="0">
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Name</mat-label>
                            <input matInput name="placeName" [(ngModel)]="placeName">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Identifier</mat-label>
                            <input matInput name="placeIdentifier" [(ngModel)]="placeIdentifier">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Location</mat-label>
                            <input matInput name="placeLocation" [(ngModel)]="placeLocation">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Administrative Division</mat-label>
                            <input matInput name="placeAdminDivision" [(ngModel)]="placeAdminDivision">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Latitude</mat-label>
                            <input matInput name="placeLatitude" [(ngModel)]="placeLatitude">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Longitude</mat-label>
                            <input matInput name="placeLongitude" [(ngModel)]="placeLongitude">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Keywords</mat-label>
                            <input matInput name="placeKeywords" [(ngModel)]="placeKeywords">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Related To</mat-label>
                            <input matInput name="placeRelatedTo" [(ngModel)]="placeRelatedTo">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>

            </table>
        </form>
    </mat-tab>
    <mat-tab label="Organization">
        <form>
            <table class="table" cellspacing="0">
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Name</mat-label>
                            <input matInput name="orgName" [(ngModel)]="orgName">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Cultural Period</mat-label>
                            <input matInput name="orgCulturalPeriod" [(ngModel)]="orgCulturalPeriod">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Identifier</mat-label>
                            <input matInput name="orgIdentifier" [(ngModel)]="orgIdentifier">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="short-width">
                            <mat-label i18n>Build Date (From)</mat-label>
                            <input matInput type="date" name="orgBuildDateFrom" [(ngModel)]="orgBuildDateFrom">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="short-width">
                            <mat-label i18n>Build Date (To)</mat-label>
                            <input matInput type="date" name="orgBuildDateTo" [(ngModel)]="orgBuildDateTo">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Location</mat-label>
                            <input matInput name="orgLocation" [(ngModel)]="orgLocation">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Latitude</mat-label>
                            <input matInput name="orgLatitude" [(ngModel)]="orgLatitude">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Longitude</mat-label>
                            <input matInput name="orgLongitude" [(ngModel)]="orgLongitude">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Keywords</mat-label>
                            <input matInput name="orgKeywords" [(ngModel)]="orgKeywords">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label i18n>Related To</mat-label>
                            <input matInput name="orgRelatedTo" [(ngModel)]="orgRelatedTo">
                        </mat-form-field>
                    </td>
                    <td>
                        <button>AND</button>
                    </td>
                    <td>
                        <button>OR</button>
                    </td>
                </tr>

            </table>
        </form>


    </mat-tab>
</mat-tab-group>
