<h1 class="tabtitle">Advanced Search</h1>
<mat-divider></mat-divider>
<mat-tab-group animationDuration="0ms">
    <mat-tab label="Document">
        <app-doc-search-page></app-doc-search-page>
    </mat-tab>
    <mat-tab label="Actor">
        <app-actor-search-page></app-actor-search-page>
    </mat-tab>
    <mat-tab label="Event">
        <app-event-search-page></app-event-search-page>
    </mat-tab>
    <mat-tab label="Place">
        <app-place-search-page></app-place-search-page>
    </mat-tab>
    <mat-tab label="Organization">
        <app-org-search-page></app-org-search-page>
    </mat-tab>
</mat-tab-group>
