.example-action-buttons {
    padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}
.panel{
    padding: 5px;
    width: 75%;
    display: block;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}
.doc-content{
    margin-bottom: 6em;
}
.mat-form-field{
    width: 30%;
    margin-right: 2em;

}
mat-list{
    padding-top: 0;
}
.mat-accordion>.mat-expansion-panel-spacing{
    margin-top: 1em;
}
.hasButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.search{
    margin: 1em;
}
