<div style="margin-left: 35px;">
  <p>Search</p>
</div>

<div style="margin-left: 35px;padding: 3px; display: inline-block;">
  <input style="width: 300px" #search_box (keyup.enter)="searchDatabase(search_box.value)">
</div>
<div  style="padding: 3px; display: inline-block;">
  <app-combo-box [list]="itemList"></app-combo-box>
</div>
<div  style="padding: 3px; display: inline-block;">
  <button type="button" (click)="searchDatabase(search_box.value)"> Search </button>
</div>



<div *ngIf="loadSearch" style="margin: 35px">
  <table id="search" >
    <thead>
    <tr>
      <th>UID</th>
      <th>Name</th>
      <th>Labels</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of searchResultArray; let i = index">
      <td>{{ item.uid }}</td>
      <td>{{ item.name }}</td>
      <td><ul>
        <li *ngFor="let label of item.labels">
          {{ label }}
        </li>
      </ul></td>
    </tr>
    </tbody>
  </table>
</div>

<div style="margin: 35px;"><p>Insert your UID </p>
  <input style="width: 300px" #box (keyup.enter)="onEnter(box.value)">
</div>

<div *ngIf="load" style="margin: 35px">
  <json-schema-form
    *ngIf="load"
    [form]= "form"
    [options]='jsonFormOptions'
    [framework]="'bootstrap-4'"
    (onSubmit)="onSubmit($event)"
    (formSchema)="showFormSchemaFn($event)"
    (formLayout)="showFormLayoutFn($event)"
    (isValid)="isValid($event)">
  </json-schema-form>
</div>


<!--
<json-schema-form
  loadExternalAssets="true"
  [schema]="schema"
  [(data)]='data'
  [layout]='layout'
  [options]="jsonFormOptions"
  [framework]="'material-design'">
(onChanges)="onChanges($event)"
(onSubmit)="onSubmit($event)"
(validationErrors)="validationErrors($event)">
</json-schema-form>-->
