<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    Archgraph Backend Demo
  </a>

  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Search page</a>
      </li>
    </ul>
  </div>
</nav>

<div style="margin: 35px">


  <json-schema-form
    [form]= "form"
    [options]='jsonFormOptions'
    [framework]="'bootstrap-4'">
  </json-schema-form>

</div>


<div style="margin-left: 35px;">
  <p>Search</p>
</div>

<div style="margin-left: 35px;padding: 3px; display: inline-block;">
  <input style="width: 300px" #search_box (keyup.enter)="searchDatabase(search_box.value)">
</div>
<div  style="padding: 3px; display: inline-block;">
  <app-combo-box [list]="itemList"></app-combo-box>
</div>
<div  style="padding: 3px; display: inline-block;">
  <button type="button" (click)="searchDatabase(search_box.value)"> Search </button>
</div>



<div *ngIf="loadSearch" style="margin: 35px">
  <table id="search" >
    <thead>
    <tr>
      <th>UID</th>
      <th>Name</th>
      <th>Labels</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of searchResultArray; let i = index">
      <td><nav>
        <a routerLink={{item.uid}}>{{item.uid}}</a>
        </nav></td>
      <td>{{ item.name }}</td>
      <td><ul>
        <li *ngFor="let label of item.labels">
          {{ label }}
        </li>
      </ul></td>
    </tr>
    </tbody>
  </table>

</div>

