
<div *ngIf="load" style="margin: 35px">
  <json-schema-form
    [schema]="schema"
    [options]='jsonFormOptions'
    [framework]="'bootstrap-4'"
    [(ngModel)]= "data"
    (onSubmit)="onSubmit($event)"
    (formSchema)="showFormSchemaFn($event)"
    (formLayout)="showFormLayoutFn($event)"
    (isValid)="isValid($event)">
  </json-schema-form>
</div>


<!--
<json-schema-form
  loadExternalAssets="true"
  [schema]="schema"
  [(data)]='data'
  [layout]='layout'
  [options]="jsonFormOptions"
  [framework]="'material-design'">
(onChanges)="onChanges($event)"
(onSubmit)="onSubmit($event)"
(validationErrors)="validationErrors($event)">
</json-schema-form>-->
