<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
    <span (click)="goToHome()">DigitArq+</span>
    <span class="example-spacer"></span>
    <button routerLink="/search" mat-icon-button class="example-icon favorite-icon"
            aria-label="Example icon-button with heart icon">
        <mat-icon>search</mat-icon>
    </button>
    <div *ngIf="!username">

        <button routerLink="/login" mat-icon-button class="example-icon favorite-icon"
                aria-label="Example icon-button with heart icon">
            <mat-icon>login</mat-icon>
        </button>
    </div>
    <div *ngIf="username">
        <button mat-icon-button class="example-icon favorite-icon" (click)="logout()"
                aria-label="Example icon-button with heart icon">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
    <span>{{this.username}}</span>


</mat-toolbar>


