<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Title
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>Title Name</mat-label>
      <input matInput [value]="titleName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Type</mat-label>
      <input matInput [value]=titleType >
    </mat-form-field>

  </mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Identifier
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>Identifier</mat-label>
      <input matInput [value]=identifierName>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Type</mat-label>
      <input matInput [value]=identifierType>
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>
