
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Title
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>Title Name</mat-label>
      <input matInput [value]="titleName" [(ngModel)]="titleName">
    </mat-form-field>


    <mat-form-field>
      <mat-label>Change Type</mat-label>
      <mat-select [(value)]=titleType >
        <mat-option *ngFor="let title of titleTypes" [value]="title.option" >
          {{title.option}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-expansion-panel>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Identifier
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>Identifier</mat-label>
      <input matInput [value]=identifierName [(ngModel)]="identifierName">
    </mat-form-field>


      <mat-form-field>
        <mat-label>Change Type</mat-label>
        <mat-select [(value)]=identifierType>
          <mat-option *ngFor="let identifier of identifierTypes" [value]="identifier.option">
            {{identifier.option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </mat-expansion-panel>

  <button mat-raised-button disabled color="primary" [disabled]="checkChange()" (click)="submitUpdate()">Update</button>
