<form *ngIf="!haveResults">
    <table class="table" cellspacing="0">
        <tr class="elements-colspan">
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Name</mat-label>
                    <input matInput name="name" [(ngModel)]="name">
                </mat-form-field>
            </td>
            <!--            <td>-->
            <!--                <button>AND</button>-->
            <!--            </td>-->
            <!--            <td>-->
            <!--                <button>OR</button>-->
            <!--            </td>-->
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Cultural Period</mat-label>
                    <input matInput name="culturalPeriod" [(ngModel)]="culturalPeriod">
                </mat-form-field>
            </td>
            <!--            <td>-->
            <!--                <button>AND</button>-->
            <!--            </td>-->
            <!--            <td>-->
            <!--                <button>OR</button>-->
            <!--            </td>-->
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Identifier</mat-label>
                    <input matInput name="identifier" [(ngModel)]="identifier">
                </mat-form-field>
            </td>
            <!--            <td>-->
            <!--                <button>AND</button>-->
            <!--            </td>-->
            <!--            <td>-->
            <!--                <button>OR</button>-->
            <!--            </td>-->
        </tr>
        <tr>
            <td>
                <mat-form-field class="short-width">
                    <mat-label i18n>Birth Date (From)</mat-label>
                    <input matInput type="date" name="birthDateFrom" [(ngModel)]="birthDateFrom">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="short-width">
                    <mat-label i18n>Birth Date (To)</mat-label>
                    <input matInput type="date" name="birthDateTo" [(ngModel)]="birthDateTo">
                </mat-form-field>
            </td>
            <!--            <td>-->
            <!--                <button>AND</button>-->
            <!--            </td>-->
            <!--            <td>-->
            <!--                <button>OR</button>-->
            <!--            </td>-->
        </tr>
        <tr>
            <td>
                <mat-form-field class="short-width">
                    <mat-label i18n>Death Date (From)</mat-label>
                    <input matInput type="date" name="deathDateFrom" [(ngModel)]="deathDateFrom">
                </mat-form-field>
            </td>
            <td class="short-width">
                <mat-form-field class="short-width">
                    <mat-label i18n>Death Date (To)</mat-label>
                    <input matInput type="date" name="deathDateTo" [(ngModel)]="deathDateTo">
                </mat-form-field>
            </td>
            <!--            <td>-->
            <!--                <button>AND</button>-->
            <!--            </td>-->
            <!--            <td>-->
            <!--                <button>OR</button>-->
            <!--            </td>-->
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Keywords</mat-label>
                    <input matInput name="keywords" [(ngModel)]="keywords">
                </mat-form-field>
            </td>
            <!--            <td>-->
            <!--                <button>AND</button>-->
            <!--            </td>-->
            <!--            <td>-->
            <!--                <button>OR</button>-->
            <!--            </td>-->
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Related To</mat-label>
                    <input matInput name="relatedTo" [(ngModel)]="relatedTo">
                </mat-form-field>
            </td>
            <!--            <td>-->
            <!--                <button>AND</button>-->
            <!--            </td>-->
            <!--            <td>-->
            <!--                <button>OR</button>-->
            <!--            </td>-->
        </tr>
    </table>
    <button class="search" mat-raised-button (click)="getDocSummary()" color="primary">Search</button>
</form>
<div *ngIf="haveResults">
    <app-table [columns]="columns" [data]="dataSource" [hrefTo]="'actor'"></app-table>
    <button class="search" mat-raised-button (click)="setHaveResults()" color="primary">Go Back</button>
</div>
