<form>
    <table class="table" cellspacing="0">
        <tr class="elements-colspan">
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Name</mat-label>
                    <input matInput name="actorName" [(ngModel)]="Name">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Cultural Period</mat-label>
                    <input matInput name="actorCulturalPeriod" [(ngModel)]="CulturalPeriod">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Identifier</mat-label>
                    <input matInput name="actorIdentifier" [(ngModel)]="Identifier">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td>
                <mat-form-field class="short-width">
                    <mat-label i18n>Birth Date (From)</mat-label>
                    <input matInput type="date" name="actorBirthDateFrom" [(ngModel)]="BirthDateFrom">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="short-width">
                    <mat-label i18n>Birth Date (To)</mat-label>
                    <input matInput type="date" name="actorBirthDateTo" [(ngModel)]="BirthDateTo">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td>
                <mat-form-field class="short-width">
                    <mat-label i18n>Death Date (From)</mat-label>
                    <input matInput type="date" name="actorDeathDateFrom" [(ngModel)]="DeathDateFrom">
                </mat-form-field>
            </td>
            <td class="short-width">
                <mat-form-field class="short-width">
                    <mat-label i18n>Death Date (To)</mat-label>
                    <input matInput type="date" name="actorDeathDateTo" [(ngModel)]="DeathDateTo">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Keywords</mat-label>
                    <input matInput name="actorKeywords" [(ngModel)]="Keywords">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Related To</mat-label>
                    <input matInput name="actorRelatedTo" [(ngModel)]="RelatedTo">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
    </table>
</form>
