.loginfields {
    display: flex;
    flex-direction: column;
    border-style: double;
    align-content: center;

    width: 50%;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 0.5em;
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}
.mat-accordion>.mat-expansion-panel-spacing{
    margin-top: 1em;
}

.hasButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.search{
    margin: 1em;
}


.arrayField {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-style: double;
    width: 50%;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
}
.panel{
    padding: 5px;
    width: 75%;
    display: block;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.title {
    margin: auto;
    font-size: 1.5em;
    padding: 1em;
}

label {
    /*width: 200px !important;*/
    width: 20%;
    float: left;
}
select{
    max-width: 40%;
    width: auto;
}


.field {
    margin-left: 1em;
    margin-bottom: 0.5em;
    display: inline-block;
    width: 100%;
}

.message {
    font-size: 1.2em;
}


.form-group {
    /*display: flex;*/
    /*align-content: center;*/
    /*justify-content: center;*/
    /*padding: 0.5em;*/
    /*margin-right: 3%;*/
    text-align: center;
}


/*.alert-danger {*/
/*    background-color: #f44336; !* Red *!*/
/*}*/
.alert-success {
    background-color: #36f456;
}
.alert-danger {
    color: red;
}

.alert {
    padding: 0.5em;
    color: red;
    /*text-align: center;*/
}


.mat-form-field{
    width: 30%;
    margin-right: 2em;

}
mat-list{
    padding-top: 0;
}





