<form>
    <table class="table" cellspacing="0">
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Name</mat-label>
                    <input matInput name="eventName" [(ngModel)]="Name">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Identifier</mat-label>
                    <input matInput name="eventIdentifier" [(ngModel)]="Identifier">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td>
                <mat-form-field class="short-width">
                    <mat-label i18n>Start Date (From)</mat-label>
                    <input matInput type="date" name="eventStartDateFrom" [(ngModel)]="StartDateFrom">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="short-width">
                    <mat-label i18n>Start Date (To)</mat-label>
                    <input matInput type="date" name="eventStartDateTo" [(ngModel)]="StartDateTo">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td>
                <mat-form-field class="short-width">
                    <mat-label i18n>End Date (From)</mat-label>
                    <input matInput type="date" name="eventEndDateFrom" [(ngModel)]="EndDateFrom">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="short-width">
                    <mat-label i18n>End Date (To)</mat-label>
                    <input matInput type="date" name="eventEndDateTo" [(ngModel)]="EndDateTo">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Cultural Period</mat-label>
                    <input matInput name="eventCulturalPeriod" [(ngModel)]="CulturalPeriod">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Event Type</mat-label>
                    <input matInput name="eventType" [(ngModel)]="Type">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Location</mat-label>
                    <input matInput name="eventLocation" [(ngModel)]="Location">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Address</mat-label>
                    <input matInput name="eventAddress" [(ngModel)]="Address">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Latitude</mat-label>
                    <input matInput name="eventLatitude" [(ngModel)]="Latitude">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Longitude</mat-label>
                    <input matInput name="eventLongitude" [(ngModel)]="Longitude">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Keywords</mat-label>
                    <input matInput name="eventKeywords" [(ngModel)]="Keywords">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Related To</mat-label>
                    <input matInput name="eventRelatedTo" [(ngModel)]="RelatedTo">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>

    </table>
</form>
