<div class="doc-content">
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel class="panel">
            <mat-expansion-panel-header>
                <mat-panel-title i18n>Identifiers</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="fields" *ngFor="let title of titles">
                <mat-form-field>
                    <mat-label i18n>Identifier</mat-label>
                    <input matInput readonly [(ngModel)]="title.title.value">
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Type</mat-label>
                    <input matInput readonly value="formal">
                </mat-form-field>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel class="panel">
            <mat-expansion-panel-header>
                <mat-panel-title i18n>Name</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field>
                <mat-label i18n>Identifier</mat-label>
                <input matInput readonly value="formal">
            </mat-form-field>
            <mat-form-field>
                <mat-label i18n>Type</mat-label>
                <input matInput readonly value="formal">
            </mat-form-field>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel class="panel">
            <mat-expansion-panel-header>
                <mat-panel-title i18n>Chronology</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field>
                <mat-label i18n>Initial date</mat-label>
                <input matInput readonly type="date">
            </mat-form-field>
            <mat-form-field>
                <mat-label i18n>Initial attribution type</mat-label>
                <input matInput readonly value="formal">
            </mat-form-field>
            <mat-form-field>
                <mat-label i18n>Final date</mat-label>
                <input matInput readonly type="date">
            </mat-form-field>
            <mat-form-field>
                <mat-label i18n>Final attribution type</mat-label>
                <input matInput readonly value="formal">
            </mat-form-field>
            <mat-form-field>
                <mat-label i18n>Time / period</mat-label>
                <input matInput readonly value="formal">
            </mat-form-field>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel class="panel">
            <mat-expansion-panel-header>
                <mat-panel-title i18n>Related places</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="fields" *ngFor="let title of titles">
                <mat-form-field>
                    <mat-label i18n>Registry identifier</mat-label>
                    <input matInput readonly [(ngModel)]="title.title.value">
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Name</mat-label>
                    <input matInput readonly [(ngModel)]="title.title.value">
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Latitude</mat-label>
                    <input matInput readonly type="number">
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Longitude</mat-label>
                    <input matInput readonly type="number">
                </mat-form-field>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel class="panel">
            <mat-expansion-panel-header>
                <mat-panel-title i18n>Related events</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="fields" *ngFor="let event of relatedEvents">
                <mat-form-field>
                    <mat-label i18n>Event type</mat-label>
                    <input matInput readonly [(ngModel)]="event.type">
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Initial date</mat-label>
                    <input matInput readonly type="date" [(ngModel)]="event.initialDate">
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Final date</mat-label>
                    <input matInput readonly type="date" [(ngModel)]="event.finalDate">
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Place</mat-label>
                    <input matInput readonly [(ngModel)]="event.place">
                </mat-form-field>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel class="panel">
            <mat-expansion-panel-header>
                <mat-panel-title i18n>Related actors</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="fields" *ngFor="let actor of relatedActors">
                <mat-form-field>
                    <mat-label i18n>Registry identifier</mat-label>
                    <input matInput readonly [(ngModel)]="actor.identifier">
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Name</mat-label>
                    <input matInput readonly [(ngModel)]="actor.name">
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Role played</mat-label>
                    <input matInput readonly [(ngModel)]="actor.role">
                </mat-form-field>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<!--<mat-accordion class="example-headers-align" multi>-->
<!--    <mat-expansion-panel class="panel">-->
<!--        <mat-expansion-panel-header>-->
<!--            <mat-panel-title i18n>Related places</mat-panel-title>-->
<!--        </mat-expansion-panel-header>-->
<!--        <div class="fields" *ngFor="let place of relatedPlaces">-->
<!--            <mat-form-field>-->
<!--                <mat-label i18n>Registry identifier</mat-label>-->
<!--                <input matInput readonly [(ngModel)]="place.identifier">-->
<!--            </mat-form-field>-->
<!--            <mat-form-field>-->
<!--                <mat-label i18n>Name</mat-label>-->
<!--                <input matInput readonly [(ngModel)]="place.name">-->
<!--            </mat-form-field>-->
<!--        </div>-->
<!--    </mat-expansion-panel>-->
<!--</mat-accordion>-->


