.example-action-buttons {
    padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}
.panel{
    margin: 2em;
    padding: 5px;
}
.doc-content{
    margin-bottom: 6em;
}
.fields{
    display: flex;
    width: 80%;
    vertical-align: middle;
    margin: auto;
}
.mat-form-field{
    width: 30%;
    margin-right: 2em;

}
mat-list{
    padding-top: 0;
}
