<mat-nav-list>
    <a mat-list-item routerLink="/doc/1" (click)="onSidenavClose()">
        <mat-icon>note</mat-icon>
        <span class="nav-caption" i18n>Document</span>
    </a>
    <a mat-list-item routerLink="/person/1" (click)="onSidenavClose()">
        <mat-icon>person</mat-icon>
        <span class="nav-caption" i18n>Person</span>
    </a>
    <a mat-list-item routerLink="/event/1" (click)="onSidenavClose()">
        <mat-icon>event</mat-icon>
        <span class="nav-caption" i18n>Event</span>
    </a>
    <a mat-list-item routerLink="/place/1" (click)="onSidenavClose()">
        <mat-icon>place</mat-icon>
        <span class="nav-caption" i18n>Place</span>
    </a>
    <a mat-list-item routerLink="/organization/1" (click)="onSidenavClose()">
        <mat-icon>group_add</mat-icon>
        <span class="nav-caption" i18n>Organization</span>
    </a>
    <mat-list-item [matMenuTriggerFor]="menu">
        <mat-icon>search</mat-icon>
        <span class="nav-caption" i18n>Search</span>
    </mat-list-item>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/search/doc" (click)="onSidenavClose()" i18n>
            <mat-icon>note</mat-icon>
            Document
        </button>
        <button mat-menu-item routerLink="/search/person" (click)="onSidenavClose()" i18n>
            <mat-icon>person_search</mat-icon>
            Person
        </button>
        <button mat-menu-item routerLink="/search/event" (click)="onSidenavClose()" i18n>
            <mat-icon>event</mat-icon>
            Event
        </button>
        <button mat-menu-item routerLink="/search/place" (click)="onSidenavClose()" i18n>
            <mat-icon>place</mat-icon>
            Place
        </button>
    </mat-menu>
</mat-nav-list>

