<mat-nav-list>
    <a mat-list-item routerLink="/doc/1" (click)="onSidenavClose()">
        <mat-icon>note_add</mat-icon>
        <span class="nav-caption">Add Document</span>
    </a>
    <a mat-list-item routerLink="/person/1" (click)="onSidenavClose()">
        <mat-icon>person_add</mat-icon>
        <span class="nav-caption">Add Person</span>
    </a>
    <a mat-list-item routerLink="/event/1" (click)="onSidenavClose()">
        <mat-icon>event</mat-icon>
        <span class="nav-caption">Add Event</span>
    </a>
    <a mat-list-item routerLink="/place/1" (click)="onSidenavClose()">
        <mat-icon>place</mat-icon>
        <span class="nav-caption">Add Place</span>
    </a>
    <a mat-list-item routerLink="/organization/1" (click)="onSidenavClose()">
        <mat-icon>group_add</mat-icon>
        <span class="nav-caption">Add Organization</span>
    </a>
    <mat-list-item [matMenuTriggerFor]="menu">
        <mat-icon>search</mat-icon>
        <span class="nav-caption">Search</span>
    </mat-list-item>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/search/doc" (click)="onSidenavClose()">
            <mat-icon>note</mat-icon>
            Document
        </button>
        <button mat-menu-item routerLink="/search/person" (click)="onSidenavClose()">
            <mat-icon>person_search</mat-icon>
            Person
        </button>
        <button mat-menu-item routerLink="/search/event" (click)="onSidenavClose()">
            <mat-icon>event</mat-icon>
            Event
        </button>
        <button mat-menu-item routerLink="/search/place" (click)="onSidenavClose()">
            <mat-icon>place</mat-icon>
            Place
        </button>
    </mat-menu>
</mat-nav-list>

