.table {
    width: 45%;
    margin: auto;
}
form {
    padding-top: 2em;
    padding-bottom: 4em;
}
.mat-tab-group{
    padding-left: 2em;

}

.mat-form-field{
    display: block;
    padding-right: 20px;
}
form > h4{
    text-align: center;
}

form > h4:not(:first-child) {
    padding-top: 2em;
    padding-bottom: 1em;
}

form > h4:first-child {
    margin: 0;
}
