<form>
    <h4>Description Record</h4>
    <table class="table" cellspacing="0">
        <tr class="elements-colspan">
            <td colspan="2">
                <mat-form-field class="short-width">
                    <mat-label i18n>Description Level</mat-label>
                    <input matInput name="docDescriptionLevel" [(ngModel)]="DescriptionLevel">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr class="elements-colspan">

            <td colspan="2">
                <mat-form-field class="short-width">
                    <mat-label i18n>Reference Code</mat-label>
                    <input matInput name="docReferenceCode" [(ngModel)]="ReferenceCode">
                </mat-form-field>
            </td>

<!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td>
                <mat-form-field class="short-width">
                    <mat-label i18n>Production Dates (From)</mat-label>
                    <input matInput type="date" name="docProdDateFrom" [(ngModel)]="ProdDateFrom">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="short-width">
                    <mat-label i18n>Production Dates (To)</mat-label>
                    <input matInput type="date" name="docProdDateTo" [(ngModel)]="ProdDateTo">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr class="elements-colspan">
            <td colspan="2">
                <mat-form-field class="short-width">
                    <mat-label i18n>Keywords</mat-label>
                    <input matInput name="docKeywords" [(ngModel)]="Keywords">
                </mat-form-field>
            </td>

            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr class="elements-colspan">

            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Related To</mat-label>
                    <input matInput name="docRelatedTo" [(ngModel)]="RelatedTo">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
    </table>
    <mat-divider></mat-divider>

    <h4>Conservation & Restoration Record</h4>
    <table class="table" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="short-width">
                    <mat-label i18n>Intervention Start Date (From)</mat-label>
                    <input matInput type="date" name="docInterventionStartDateFrom"
                           [(ngModel)]="InterventionStartDateFrom">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="short-width">
                    <mat-label i18n>Intervention Start Date (To)</mat-label>
                    <input matInput type="date" name="docInterventionStartDateTo"
                           [(ngModel)]="InterventionStartDateTo">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr>
            <td>
                <mat-form-field class="short-width">
                    <mat-label i18n>Intervention End Date (From)</mat-label>
                    <input matInput type="date" name="docInterventionEndDateFrom"
                           [(ngModel)]="InterventionEndDateFrom">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="short-width">
                    <mat-label i18n>Intervention End Date (To)</mat-label>
                    <input matInput type="date" name="docInterventionEndDateTo"
                           [(ngModel)]="InterventionEndDateTo">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr class="elements-colspan">

            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Curator's Name</mat-label>
                    <input matInput name="docCuratorName" [(ngModel)]="CuratorName">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
    </table>

    <mat-divider></mat-divider>

    <h4>Digital Representation Record</h4>
    <table class="table" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="short-width">
                    <mat-label i18n>Creation Date (From)</mat-label>
                    <input matInput type="date" name="docCreationDateFrom"
                           [(ngModel)]="CreationDateFrom">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="short-width">
                    <mat-label i18n>Intervention Start Date (To)</mat-label>
                    <input matInput type="date" name="docCreationDateTo"
                           [(ngModel)]="CreationDateTo">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
        <tr class="elements-colspan">

            <td colspan="2">
                <mat-form-field>
                    <mat-label i18n>Curator's Name</mat-label>
                    <input matInput name="docCuratorName" [(ngModel)]="CuratorName">
                </mat-form-field>
            </td>
            <!--            <td>-->
<!--                <button>AND</button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <button>OR</button>-->
<!--            </td>-->
        </tr>
    </table>
</form>
