

<div *ngIf="load" style="margin: 35px">
  <json-schema-form
    *ngIf="load"
    [form]= "form"
    [options]='jsonFormOptions'
    [framework]="'bootstrap-4'"
    (onSubmit)="onSubmit($event)"
    (formSchema)="showFormSchemaFn($event)"
    (formLayout)="showFormLayoutFn($event)"
    (isValid)="isValid($event)">
  </json-schema-form>
</div>


<div *ngIf="load" style="margin: 35px">
  <app-combo-box [list]="props"></app-combo-box>
  <button type="button" (click)="addProp()"> Create Field </button>
</div>



<!--
<json-schema-form
  loadExternalAssets="true"
  [schema]="schema"
  [(data)]='data'
  [layout]='layout'
  [options]="jsonFormOptions"
  [framework]="'material-design'">
(onChanges)="onChanges($event)"
(onSubmit)="onSubmit($event)"
(validationErrors)="validationErrors($event)">
</json-schema-form>-->
