<div class="mat-elevation-z8 list-components" *ngIf="concluded">
    <table mat-table matSort [dataSource]="dataSource">
        <ng-container matColumnDef="{{column.id}}" *ngFor="let column of displayedColumns">
            <td  class="td-table" *matHeaderCellDef mat-sort-header> {{column.value}}</td>
            <td mat-cell *matCellDef="let element"> {{element[column.id]}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="myColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: myColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
</div>
