#search {
  font-family: "Trebuchet MS", Arial, "Helvetica Neue", sans-serif;
  width: 100%;
}

#search td, #search th {
  border: 1px solid #ddd;
  padding: 8px;
}

#search tr:nth-child(even){
  background-color: #f2f2f2;
}

#search tr:hover{
  background-color: #ddd;
}

#search th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: dodgerblue;
  color: white;
}

.fade {
  opacity: 0;
}
